.btn {
    border: none;
    font-family: 'Press Start 2P', sans-serif;
    font-size: clamp(1rem, 2vw, 1.8rem);
    padding: 2rem 3rem;
    background: c(light);
    color: c(dark);
    cursor: pointer;
    transition: all .2s;

    &:hover {
        animation: shadow-pop 0.3s forwards;

        &:active {
            animation: shadow-active 0.3s both;
        }
    }

    &:not(:hover) {
        animation: shadow-leave 0.3s both;
    }
}