body {
    display: grid;
    place-content: center;
    position: relative;

    .number {
        background: c(light);
        color: c(dark);
        z-index: 1;

        &--item {
            padding: clamp(2rem, 3vw, 3rem);
            font-size: f(large);
        }

        &:hover {
            animation: jello-horizontal 0.9s both;
        }


        //PHONE LAYOUT
        @include phone {
            position: absolute;
            top: 22%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.parent {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr) repeat(2, .5fr) repeat(2, 1fr);
    grid-row-gap: 10px;

    &>* {
        background: c(dark);
        display: flex;
        justify-content: center;
        align-items: center;
    }


    //PHONE LAYOUT
    @include phone {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr) .5fr repeat(7, 1fr);
    }
}